html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: black;
    height: 100px;
    width: 100%;
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }

  article {
    width: 100%;
    height: 1500px;
    background-image: url(images/florida.jpg);
    background-size: cover;
    background-position: center;
  }
  .article-box {
    width: 100%; /* set width of your box */
    max-height: 1024px; /* set height of your box */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* hides any overflow */
  }
.article-title {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0px;
  text-align: center;
}
.article-text {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.search-container {
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
}
.search-button {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #1138e4;
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0; /* Rounded corners on right */
}
.search-button:hover {
  background-color: #1138e4ad;
}
  /* Add your flexbox CSS below here */